.DS_store
*__pycache__/
*.env
.vscode/
.VSCodeCounter/
.idea
# Data files:
*.sh

# Output files:
# These outputs will be changing a lot for everyone. Better to keep them on local.
/input_output_folder/*
/plots/*
/reports/*

# Latex output
*.aux
*.log
*./temp/*.pdf
*.zip
*.zip
*.gz
*.synctex